/* #menu-btn {
  display: block;
  position: relative; */
  /* margin: 70px auto; */
  /* text-align: center;
  width: 60px;
  height: 65px;
  cursor: pointer;
  text-align: center;

  transform: scale(0.6);
  transform-origin: center;
} */

/* #menu-btn:before,
#menu-btn:after {
  content: '';
  width: 100%;
  height: 8px;
  background-color: #000;
  display: block;
  position: absolute;
  border-radius: 20px;
}

#menu-btn:before {
  transform-origin: left center;
  top: 0;
}

#menu-btn:after {
  right: 0;
  top: 25px;
  transform-origin: right center;
}

#menu-btn .text {
  color: #000;
  font-family: 'Candal', sans-serif;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 17px;
  letter-spacing: 2.5px;
} */


/* Open 상태 */
/* @keyframes topBar_open {
  0% { transform: translateY(0px) rotate(0deg); width: 60px; }
  10% { transform: translateY(-8px) rotate(0deg); width: 60px; }
  50% { transform: translateY(25px) rotate(45deg); width: 84px; }
  75% { transform: translateY(12px) rotate(45deg); width: 84px; }
  100% { transform: translateY(17px) rotate(45deg); width: 84px; }
}

@keyframes bottomBar_open {
  0% { transform: translateY(0px) rotate(0deg); width: 60px; }
  10% { transform: translateY(-8px) rotate(0deg); width: 60px; }
  60% { transform: translateY(0px) rotate(-45deg); width: 84px; }
  75% { transform: translateY(-10px) rotate(-45deg); width: 84px; }
  100% { transform: translateY(-8px) rotate(-45deg); width: 84px; }
}

@keyframes menuLabel_open {
  0% { transform: translateY(0px); opacity: 1; }
  25% { transform: translateY(-18px); }
  45% { transform: translateY(44px); opacity: 1; }
  48% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(30px); opacity: 0; }
} */

/* Close 상태 */
/* @keyframes topBar_close {
  0% { transform: translateY(17px) rotate(45deg); width: 84px; }
  35% { transform: translateY(-8px) rotate(-4deg); width: 60px; }
  53% { transform: translateY(10px) rotate(3deg); width: 60px; }
  70% { transform: translateY(-6px) rotate(0deg); width: 60px; }
  100% { transform: translateY(-2px) rotate(0deg); width: 60px; }
}

@keyframes bottomBar_close {
  0% { transform: translateY(-8px) rotate(-45deg); width: 84px; }
  35% { transform: translateY(-18px) rotate(6deg); width: 60px; }
  53% { transform: translateY(0px) rotate(-3deg); width: 60px; }
  68% { transform: translateY(-7px) rotate(0deg); width: 60px; }
  100% { transform: translateY(0px) rotate(0deg); width: 60px; }
}

@keyframes menuLabel_close {
  0% { transform: translateY(30px); opacity: 0; }
  5% { transform: translateY(25px); opacity: 1; }
  25% { transform: translateY(-30px); opacity: 1; }
  37% { transform: translateY(-22px); opacity: 1; }
  45% { transform: translateY(-22px); opacity: 1; }
  58% { transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% { transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

#menu-btn.open:before { animation: topBar_open 1s ease-in-out forwards; }
#menu-btn.open:after { animation: bottomBar_open 1s ease-in-out forwards; }
#menu-btn.open .text { animation: menuLabel_open 1s ease-in forwards; }

#menu-btn.close:before { animation: topBar_close 1s ease-in-out forwards; }
#menu-btn.close:after { animation: bottomBar_close 1s ease-in-out forwards; }
#menu-btn.close .text { animation: menuLabel_close 1s ease-in forwards; } */


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
    color: #5f5f5f;
    z-index: 1001;
}

.menu-logo {
    width: 2rem;
    height: 2rem;
}

.menu-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-logo a {
    text-decoration: none;
}
.menu-toggle-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.menu-toggle-label {
    overflow: hidden;
}

.menu-toggle-label p {
    position: relative;
    transform: translateY(0%);
    will-change: transform;
    font-size: 0.95rem;
    font-weight: 500;
}

.menu-hamburger-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.menu-hamburger-icon span {
    position: absolute;
    width: 15px;
    height: 1.25px;
    background-color: #000;
    transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
    transform-origin: center;
    will-change: transform;
}

.menu-hamburger-icon span:nth-child(1) {
    transform: translateY(-3px);
}

.menu-hamburger-icon span:nth-child(2) {
    transform: translateY(3px);
}

.menu-hamburger-icon.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-hamburger-icon.active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-overlay,
.menu-overlay-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    color: #fff;
    overflow: hidden;
    z-index: 999;
}

.menu-overlay {
    background-color: #0f0f0f;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    will-change: clip-path;
}

.menu-overlay-content {
    display: flex;
    transform: translateY(-50%);
    will-change: transform;
    pointer-events: all;
}

.menu-media-wrapper {
    flex: 2;
    opacity: 0;
    will-change: opacity;
}

.menu-media-wrapper img {
    opacity: 0.25;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-content-wrapper {
    flex: 3;
    position: relative;
    display: flex;
}

.menu-content-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-footer {
    margin: 0 auto;
}

.menu-content-main,
.menu-footer {
    width: 75%;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.menu-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-col:nth-child(1) {
    flex: 3;
}

.menu-col:nth-child(2) {
    flex: 2;
}

.menu-link a {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-link a:hover {
    color: #C8F133;
}

.menu-tag a,
.menu-footer p {
    color: #5f5f5f;
    font-size: 0.95rem;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .menu-media-wrapper {
        display: none;
    }

    .menu-content-main,
    .menu-footer {
        width: 100%;
    }

    .menu-content-main {
        top: 50%;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
    }

    .menu-link a {
        font-size: 3rem;
    }

    .menu-tag a {
        font-size: 1.25rem;
    }
}